@mixin breakpoint($breakpoint) {
    @if $breakpoint == "small" {
      @media (min-width: 700px) {
          @content;
        }
    }
    
    @else if $breakpoint == "medium" {
        @media (min-width: 900px) {
            @content;
        }
    }
    
    @else if $breakpoint == "large" {
        @media (min-width: 1024px) {
            @content;
        }
    }
}

#githubook-container{
    min-height: 100vh;
    box-sizing: border-box;
    a{
        text-decoration: none;
        color: black;
    }
}

//nav
#githubook-nav{
    position: sticky;
    display:flex;
    justify-content: space-between;
    top:0;
    height: 60px;
    background-color: #FFFFFF;
    border: 0.4px solid rgb(191, 191, 191);
    z-index:10;
}

#githubook-nav-side-l{
    display:flex;
    padding: 15px;
    align-items: center;
    width: 20vw;
    @include breakpoint("large"){
        width: 25vw;
    }
}

#githubook-nav-main{
    display: none;
    @include breakpoint("small"){
        display: flex;
        justify-content: center;
        width: 30vw;
    }
    ul{
        padding: 0px;
        margin: 0px;
        width: 35vw;
        display:flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }
    li{
        cursor: pointer;
        display:flex;
        justify-content: center;
        align-items: center;
        border-bottom: 5px solid transparent;
        width:40px;
        height:60px;
        transition: 0.5s;
        img{
            width: 30px;
            height: 30px;
        }
    }
    .active{
        border-bottom: 5px solid black;
    }
}

#githubook-nav-side-r{
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#githubook-search{
    height: 40px;
    label{
        display: flex;
        z-index:11;
    }
    #q-icon{
        cursor: pointer;
    }
    #q{
        position: absolute;
        margin: 3px;
        width: 35px;
        height: 35px;
        border-radius: 8px;
        transition: 0.05s linear;
        @include breakpoint("large"){
            width: 10vw;
        }
    }

    label:focus{
        #q{
            width:100px;
            border-radius: 15%;
        }
        #q-icon{
            display:none;
        }
    }
}

//main body
#githubook-body{
    height: calc( 100vh - 60px);
    background-color: #F0F2F5;
    display:flex;
    justify-content: center;
    @include breakpoint("medium"){
        justify-content: space-between;
    }
}

#githubook-side-l{
    padding: 15px;
    display:none;
    overflow: scroll;
    @include breakpoint("large"){
        display:block;
        width: 25vw;
    }
}

#githubook-main{
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    width: 100vw;
    @include breakpoint("medium"){
        width: 75vw;
    }
}

#githubook-side-r{
    display: none;
    overflow: scroll;
    @include breakpoint("medium"){
        display: flex;
        flex-direction: column;
        width: 25vw;
    }
    h1{
        font-size: 20px;
    }
    .madeinfo{
        margin: 10px;
        .madeinfo-content{
            div{
                display:flex;
                align-items: center;
                height: 100px;
            }
            img{
                border-radius: 15% !important;
                width: 75px;
                height: 75px;
            }
        }
    }
    .following{
        margin: 10px;
    }
}

//menubox
.githubook-menubox{
    display: flex;
    align-items:center;
    width: 90%;
    height: 40px;
    margin: 5px;
    padding: 5px;
    &:hover{
        cursor: pointer;
        background-color: rgba(196, 196, 196, 0.68);
        border-radius: 10px;
    }
    .githubook-menubox-icon{
        img{
            width: 35px;
            height: 35px;
        }
        .circle{
            border-radius: 50%;
        }
        .square{
            border-radius: 15%;
        }
    }
    .githubook-menubox-text{
        margin-left: 15px;
    }
}


//card
.githubook-card{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 0.4px solid rgb(191, 191, 191);
    background-color: #FFFFFF;
    width: 85vw;
    @include breakpoint("medium"){
        width: 60vw;
    }
    @include breakpoint("large"){
        width: 50vw;
    }
}

.githubook-card-title{
    display: flex;
    align-items: center;
    margin: 15px;
    img{
        border-radius: 50%;
        margin-right: 15px;
    }
}

.githubook-card-info{
    display:inline-block;
    position: relative;
}

.githubook-card-info-box{
    padding: 15px;
    min-width: 400px;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 15px;
    top: 100%;
    left: 0%;
    margin-left: -50px;
    visibility: hidden;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0.3s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(71, 71, 71, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(71,71,71, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(71,71,71, 0.75);
}

.githubook-card-info:hover, .githubook-card-info-box:hover{
    .githubook-card-info-box{
        visibility: visible;
        opacity: 1;
    }    
}

.githubook-card-main{
    white-space:normal;
    word-break:break-all;
    min-height: 100px;
    margin: 15px;
}

.githubook-card-date{
    position: relative;
}

.githubook-card-date-tooltips{
    display: block;
    visibility: hidden;
    min-width: 100px;
    font-size: 12px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%;
    opacity: 0;
    transition: opacity 0.3s;

}

.githubook-card-date:hover {
    text-decoration: underline;
    .githubook-card-date-tooltips{
    visibility: visible;
    opacity: 1;
    }
}